@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,700;1,200;1,400&display=swap');
       /* se exporta tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

      /* Diseño body */

body{
  font-family: 'JetBrains Mono', monospace;
  background: #093028; 
  background: -webkit-linear-gradient(to left, #237A57, #093028); 
  background: linear-gradient(to left, #237A57, #093028); 

}
    /* Transparencia nav */

#nav {
  background-color: #079c3b00;
}

    /* Customs Boton contactame */
.BtnImg {
  width: 14em;
  height: 3em;
  border-radius: 30em;
  font-size: 17px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #079c3b,
              -6px -6px 12px #0ec40e;
 }
    
 .BtnImg::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .BtnImg:hover::before {
  width: 14em;
 }
        /* algunas caracteristicas responsive nav y boton */
 @media (max-width: 1279px) {
  #nav {
    background-color: #B3A943;
    color: #0D3A2F;
  }

  .BtnImg {
    width: 100%;
  }

  .BtnImg:hover::before {
    width: 100%;
  }

  }